<html>
    <head>
        <meta charset="UTF-8">
        <title>Contact</title>
    </head>

    <body>
        <h1>Contact</h1>
        <form action="{{ url_for('contact') }}" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Your name">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="example@mail.com"><br>
            <label for="text">Message:</label>
            <input type="text" name="message" placeholder="Your message here.">
            <button type="submit">Ok</button>
        </form>
    </body>
</html>